@import url("./pagination.properties.scss");

.lui-styled {
  .lui-pagination {
    display: flex;
    gap: 1rem;
    align-items: center;

    .lui-pagination__overview {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-grow: 1;
    }

    .lui-pagination__navigation {
      display: flex;
      gap: var(--lui-pagination__navigation-gap);

      @at-root[dir=rtl] .lui-pagination__navigation__button__icon--arrow {
        transform: rotate(180deg);
      }
    }

    .lui-pagination__summary {
      font-size: 0.875rem;
      color: var(--lui-base__subtl-color);
    }

    .lui-pagination__navigation__button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.75rem;
      gap: 0.5rem;
      border-radius: var(--lui-pagination__item-border-radius);
      border: none;
      font-size: 0.875rem;
      background: var(--lui-pagination__item-background);
      color: var(--lui-pagination__item-color);
      transition: all .15s cubic-bezier(.65, .05, .36, 1);
      cursor: pointer;
    }

    .lui-pagination__navigation__button:disabled {
      cursor: not-allowed;
    }

    .lui-pagination__navigation__button:not(.lui-pagination__navigation__item--selected):disabled {
      opacity: 0.6;
    }

    .lui-pagination__navigation__button:not(:disabled):hover {
      background: var(--lui-pagination__item-background--hover);
    }

    .lui-pagination__navigation__item:not(:disabled):hover {
      background: var(--lui-pagination__item-background--hover);
    }

    .lui-pagination__navigation__item--selected,
    .lui-pagination__navigation__item--selected:hover {
      background: var(--lui-pagination__item-background--active);
      color: var(--lui-pagination__item-color--active);
      cursor: not-allowed;
    }
  }

  .lui-pagination__select {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    min-height: 36px;
    border: var(--lui-pagination__select-border);
    border-radius: var(--lui-pagination__item-border-radius);
    background: var(--lui-pagination__select-background);
    cursor: pointer;
  }

  .lui-pagination__select-menu {
    position: absolute;
    background-color: #fff;
    border-radius: var(--lui-pagination__item-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;

    .lui-pagination__select-menu-item {
      padding: 0.5rem 0.75rem;
      color: black;
      cursor: pointer;
      outline: none;
      background: var(--lui-pagination__item-background);
      font-size: 0.875rem;
      &:hover {
        background: var(--lui-pagination__item-background--hover);
      }
    }

    .lui-pagination__select-menu-item--selected {
      background: var(--lui-pagination__item-background--active);
      color: var(--lui-pagination__item-color--active);
      &:hover {
        background-color: var(--lui-pagination__item-background--active);
      }
    }
  }
}


