@property --lui-pagination__select-border {
  syntax: '*';
  inherits: true;
  initial-value: 1px solid #bdcee3;
}

@property --lui-pagination__select-background {
  syntax: '*';
  inherits: true;
  initial-value: white;
}

@property --lui-pagination__navigation-gap {
  syntax: "*";
  inherits: true;
  initial-value: 0.1rem;
};

@property --lui-pagination__item-background {
  syntax: "*";
  inherits: true;
  initial-value: transparent;
};

@property --lui-pagination__item-background--active {
  syntax: "*";
  inherits: true;
  initial-value: #3e63dd;
};

@property --lui-pagination__item-background--hover {
  syntax: "*";
  inherits: true;
  initial-value: #f7f9fc;
};

@property --lui-pagination__item-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
};

@property --lui-pagination__item-color--active {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
};

@property --lui-pagination__item-border-radius {
  syntax: "*";
  inherits: true;
  initial-value: 4px;
};
