node_modules/
dist/
docs/
coverage/
storybook-static/
playwright-report/
playwright/.cache/
test-results/
*storybook.log
.env
.secrets

# AI output
.aider*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vim

# Other
.DS_Store
