@import url("./product-card.properties.scss");

.lui-styled {
  --lui-pc-box-shadow: var(--lui-base-shadow-1);

  .lui-product-card {
    display: flex;
    flex-direction: column;
    background-color: var(--lui-pc-bg-color);
    color: var(--lui-pc-color);
    gap: 0.5rem;
    box-shadow: var(--lui-pc-box-shadow);
    border-radius: var(--lui-pc-border-radius);
  }

  .lui-product-card-header {
    position: relative;
  }

  .lui-product-card-image {
    width: 100%;
    display: block;
    border-radius: var(--lui-pc-border-radius) var(--lui-pc-border-radius) 0 0;
  }

  .lui-product-card-btn--favorite {
    position: absolute;
    background: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    border-radius: 100%;
    stroke: black;
    inset-block-start: var(--lui-pc-favorite-btn-position-offset);
    inline-size: var(--lui-pc-favorite-btn-size);
    cursor: pointer;
    left: calc(100% - var(--lui-pc-favorite-btn-size) - var(--lui-pc-favorite-btn-position-offset));
    right: calc(100% - var(--lui-pc-favorite-btn-size) - var(--lui-pc-favorite-btn-position-offset));

    svg {
      color: var(--lui-pc-favorite-btn-color);
      width: var(--lui-pc-favorite-btn-size);
      height: var(--lui-pc-favorite-btn-size);
    }

    &[data-state=on] svg {
      stroke: var(--lui-pc-favorite-btn-color--active);
      color: var(--lui-pc-favorite-btn-color--active);
    }
  }

  .lui-product-card-main {
    padding: 0 var(--lui-pc-container-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    flex-grow: 1;
  }

  .lui-product-card-title {
    font-size: var(--lui-pc-title-font-size);
    font-weight: bold;
  }

  .lui-product-card-subtitle {
    font-size: 0.85rem;
    opacity: 0.6;
  }

  .lui-product-card-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 0.6;
  }

  .lui-product-card-swatch-group {
    display: flex;
    gap: 0.2rem;
  }

  .lui-product-card-btn {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 0.2rem;
    border-radius: var(--lui-pc-border-radius);
    border: 1px solid var(--lui-pc-btn-border-color, --lui-pc-btn-bg-color);
    background-color: var(--lui-pc-btn-bg-color);
    color: var(--lui-pc-btn-color);
    cursor: pointer;
  }

  .lui-product-card-icon-btn {
    border: none;
    background: transparent;
  }

  .lui-product-card-footer {
    padding: var(--lui-pc-container-padding);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .lui-product-card-badge {
    display: inline-flex;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    align-items: center;
    letter-spacing: 0.0025em;
    white-space: nowrap;
    border-radius: 3px;
    line-height: 1;
    background-color: var(--lui-pc-badge-bg-color);
    color: var(--lui-pc-badge-color);
  }

  .lui-product-card-price, .lui-product-card-price-range {
    display: flex;
    gap: 0.25rem;
    font-size: 0.9rem;
    align-items: center;
  }

  .lui-product-card-price-value {
    font-weight: 600;
  }

  .lui-product-card-price-value--crossed {
    text-decoration: line-through;
    opacity: 0.6;
    font-weight: 400;
  }

  .lui-product-card-price-value--sale {
    color: crimson;
  }
}
