@import url("../theme/theme.properties.scss");

@property --lui-pc-color {
  syntax: "<color>";
  inherits: true;
  initial-value: inherit;
};

@property --lui-pc-bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: inherit;
};

@property --lui-pc-title-font-size {
  syntax: "*";
  inherits: true;
  initial-value: 1.1rem;
};

@property --lui-pc-btn-bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: gold;
};

@property --lui-pc-badge-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #00462a;
};

@property --lui-pc-badge-bg-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #e6f3ed;
};

@property --lui-pc-box-shadow {
  syntax: "*";
  inherits: true;
  initial-value: 0 4px 9px 0 #00284014, 0 17px 17px 0 #00284012, 0 38px 23px 0 #0028400a, 0 68px 27px 0 #00284003, 0 107px 30px 0 #00284000;
};

@property --lui-pc-favorite-btn-size {
  syntax: "*";
  inherits: true;
  initial-value: 1.5rem;
};

@property --lui-pc-favorite-btn-position-offset {
  syntax: "*";
  inherits: true;
  initial-value: 0.75rem;
};

@property --lui-pc-favorite-btn-color {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
};

@property --lui-pc-favorite-btn-color--active {
  syntax: "<color>";
  inherits: true;
  initial-value: crimson;
};
