@import url("../theme/theme.properties.scss");

@property --lui-range-slider-range-bg {
  syntax: "*";
  inherits: true;
  initial-value: gold;
};

@property --lui-range-slider-control-bg {
  syntax: "*";
  inherits: true;
  initial-value: gold;
};

@property --lui-range-border-radius {
  syntax: "*";
  inherits: true;
  initial-value: 6px;
};

@property --lui-range-btn-bg {
  syntax: "*";
  inherits: true;
  initial-value: gold;
};

@property --lui-range-btn-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: gold;
};

@property --lui-range-btn-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
};
