@import url("../theme/theme.properties.scss");

@property --lui-range__slider-range-background {
  syntax: "*";
  inherits: true;
  initial-value: gold;
};

@property --lui-range__slider-control-background {
  syntax: "*";
  inherits: true;
  initial-value: gold;
};

@property --lui-range__border-radius {
  syntax: "*";
  inherits: true;
  initial-value: 6px;
};

@property --lui-range__sections-spacing {
  syntax: "*";
  inherits: true;
  initial-value: 1rem;
};

@property --lui-range__slider-size {
  syntax: "*";
  inherits: true;
  initial-value: 0.5rem;
};

@property --lui-range__slider-track-color {
  syntax: "*";
  inherits: true;
  initial-value: #e1e8f5;
};

@property --lui-range__slider-control-size {
  syntax: "*";
  inherits: true;
  initial-value: 1.25rem;
};

@property --lui-range__slider-control-border-radius {
  syntax: "*";
  inherits: true;
  initial-value: 50%;
};

@property --lui-range__slider-control-border-color {
  syntax: "*";
  inherits: true;
  initial-value: #f7f9fc;
};

@property --lui-range__slider-control-box-shadow {
  syntax: "*";
  inherits: true;
  initial-value: 0 0 1px 0 #0028400a, 0 2px 2px 0 #00284008, 0 4px 2px 0 #00284005, 0 7px 3px 0 #00284003, 0 11px 3px 0 #00284000;
};

@property --lui-range__input-border-color {
  syntax: "*";
  inherits: true;
  initial-value: #bdcee3;
};

@property --lui-range__btn-background {
  syntax: "*";
  inherits: true;
  initial-value: gold;
};

@property --lui-range__btn-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: gold;
};

@property --lui-range__btn-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
};
