@import url("./range.properties.scss");

.lui-styled {
  .lui-range {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--lui-range__sections-spacing);
  }

  .lui-range-slider-root {
    width: 100%;
    height: var(--lui-range__slider-size);
    display: flex;
    align-items: center;
    position: relative;
  }

  .lui-range-slider-track {
    width: 100%;
    height: 100%;
    background-color: var(--lui-range__slider-track-color);
    border-radius: var(--lui-range__border-radius);
  }

  .lui-range-slider-range {
    position: absolute;
    display: block;
    background: var(--lui-range__slider-range-background);
    height: 100%;
  }

  .lui-range-slider-control {
    width: var(--lui-range__slider-control-size);
    height: var(--lui-range__slider-control-size);
    background: var(--lui-range__slider-control-background);
    border: 1px solid var(--lui-range__slider-control-border-color);;
    border-radius: var(--lui-range__slider-control-border-radius);
    display: block;
    box-shadow: var(--lui-range__slider-control-box-shadow);
  }

  .lui-range-inputs {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .lui-range-input {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid var(--lui-range__input-border-color);
    border-radius: var(--lui-range__border-radius);
    width: 100%;
    background: var(--lui-range__input-background);
    color: var(--lui-range__input-color);
  }

  .lui-range-input-separator {
    text-align: center;
  }

  .lui-range-update-btn {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    gap: 0.2rem;
    border-radius: var(--lui-range__border-radius);
    border: 1px solid var(--lui-range__btn-border-color);
    background: var(--lui-range__btn-background);
    color: var(--lui-range__btn-color);
    cursor: pointer;
    width: 100%;
  }

  .lui-range-min-value,
  .lui-range-max-value {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
