@import url("./theme.properties.scss");
@import url("./styles/lui-variables.scss");

.lui-styled {
    font-family: var(--lui-base-font-family);
    -webkit-font-smoothing: antialiased;

    input, textarea, button {
      font-family: var(--lui-base-font-family);
    }

    *,:after,:before {
        box-sizing: var(--lui-base-box-sizing);
    }
}
