@import url("./theme.properties.scss");

.lui-styled {
    font-family: var(--lui-base__font-family);
    -webkit-font-smoothing: antialiased;

    input, textarea, button {
      font-family: var(--lui-base__font-family);
    }

    *,:after,:before {
        box-sizing: var(--lui-base__box-sizing);
    }

    .lui-link {
      text-decoration: none;
      color: var(--lui-base__link-color);
      border-bottom: 1px dashed var(--lui-base__link-color);

      &:hover {
        border-bottom-style: solid;
      }
    }
}
