@import url("./theme.properties.scss");

.lcui-styled {
    font-family: var(--lcui-font-family);
    -webkit-font-smoothing: antialiased;

    *,:after,:before {
        box-sizing: border-box
    }
}
